:root {
  --font-hand: Parisienne;
}

body {
  font: monospace;
  text-align: center;
}

.heading {
  margin: 3em;
  font-family: var(--font-hand);
  font-size: 5em;
}

.heading:hover {
  /* 
  ease-in: more graceful and gentle. works in most cases 
  ease-out: slow first and catching up. more impectful.
  linear: lacks emotions than ease-in. expressionless. objective.
  */

  animation: heading 2s ease-in;
}

@keyframes heading {
  50% {
    color: #eee;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);
  }
}
